body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.logo .studio {
    font-weight: 700
    color: #2e2f42;
}

.page-nav .link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.page-nav .link:hover,
.page-nav .link:active {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address .email,
.address .phone {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.address .email .phone:hover
.address .email .phone:active {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;;
}

.section-one .title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.butt {
    background-color: #4d5ae5;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
}

.butt:hover,
.butt:active {
    background-color: #404bbf;
}


.section-two .title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.section-two .text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.section-three {
   background-color: #4F44FD;
}

.section-three .box {
    background-color: #ffffff;
}

.section-three .title-main {
    text-transform: capitalize;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.section-three .title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.section-three .text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.section-four .title-main {
    text-transform: capitalize;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.section-four .title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.section-four .text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer {
    font-family: "Raleway", sans-serif;
        background-color: #2e2f42;
}

.footer .studio {
    color:#f4f4fd;
}

.footer .text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}